@keyframes slide-down {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  /* Стиль для анимации появления */
  .animate-slide-down {
    animation: slide-down 0.8s ease forwards;
  }